h1 {
   padding: 5% 0 0 0;    
}

p {
    padding: 3% 0 4% 13%;
}

.subtitulo{
    text-align: center;
}

form {
    padding: 0 0 3% 32%;
}

ul li {
    list-style: none;
}

ul h4 {
    font-size: 20px;
    margin-bottom: 2px;   
}

.editores li p{
   text-align: center;
   padding: 0px;
}

.editores {
    padding-bottom: 20px; 
}

.botonModal{
    padding-right: 40px;
    cursor: pointer;
    text-decoration: none;
    color: #666; 
}

.botonBorrar{
    cursor: pointer;
}