ul.rig li img.botonSerieEditor {
    height: 20px;   
}


ul.rig li .botonesSerie{
	float: right;
	margin-right: 15%;
	display: inline-block;
	margin-top: 2px;

}

.botonAddNoticiaEditor{
    height: 40px;
    float: right;
    margin-right: 8%;
    margin-top: -55px;
    margin-bottom: 20px;
}

.botonCatalogoEditor{
	width: 40px;
	float: right;
	margin-right: 8%;
	cursor: pointer;
}

.botonModal{
    padding-right: 40px;
    cursor: pointer;
    text-decoration: none;
    color: #666; 
}

#botonCalendario{
    margin-left: 20%;
    margin-bottom: 20px;
}
