@font-face {
    font-family: 'sillonball-tittle';
    src: url('../fonts/thunder_strike-webfont.eot');
    src: url('../fonts/thunder_strike-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thunder_strike-webfont.woff2') format('woff2'),
         url('../fonts/thunder_strike-webfont.woff') format('woff'),
         url('../fonts/thunder_strike-webfont.ttf') format('truetype'),
         url('../fonts/thunder_strike-webfont.svg#thunder_strikeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}  


body{
    overflow: hidden;
    font-family: sans-serif;
}

#botones{
    margin-top: 10%;
    text-align: center;
}

#botones a, button{
    margin: 10px;
    font-size: 20px;
    color: white;
    background: #d83b3b;
    border: #000;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
}

#titulo-portada{
    margin: auto;
    text-align: center;
}

form span{
    font-size: 1.6em!important;
    color: #d83b3b;
    margin-right: 10px;
}

#myModal2 input {
    border-width: 1px;
    border-radius: 5px;
    text-align: center;
    border: solid black 1px;
    margin-top: 0;
    height: 15px;
    
}

#myModal2 div {
    margin: -10px;
}

#myModal2 label {
    margin-top: 5px;
    width: 45%;
    float: left;
    text-align: left;
}

h1 {
    font-size: 200px;
    font-family: sillonball-tittle, roboto;
    font-weight: normal;
    color: #d83b3b;
    cursor: none;
    margin-bottom: 1px;
    margin-top:  20px;
}

.titulomodal{
    font-size: 100px;
    font-family: sillonball-tittle, roboto;
    font-weight: normal;
    color: #d83b3b;
    text-align: center;
    margin-bottom: 1px;
    margin-top:  20px;
}

p{
    font-size: 40px;
    font-family: roboto;
    color: #d83b3b;
}

form {
    margin: auto;
    text-align: center;
}

label{
    color: #d83b3b;
    font-size: 22px;
}

input{
    border-width: 1px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    border: solid black 1px;
    padding: 10px;
}

/****************************************************************+*****/

@media (max-width: 800px){
    h1{
        font-size: 100px;
    }
    
    p{
        font-size: 20px;
    }
    
    button{
        margin: 5px;
        font-size: 20px;
    }
}


.error{
    padding: 15px;
    background-color: #d83b3b;
    margin: 25px auto;
    color: #670000;
    border-radius: 10px;
}