@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sillonball-tittle';
    src: url('../fonts/thunder_strike-webfont.eot');
    src: url('../fonts/thunder_strike-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thunder_strike-webfont.woff2') format('woff2'),
         url('../fonts/thunder_strike-webfont.woff') format('woff'),
         url('../fonts/thunder_strike-webfont.ttf') format('truetype'),
         url('../fonts/thunder_strike-webfont.svg#thunder_strikeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.botonBorrarEditor{
    height: 22px;
    width: 22px;
    margin-left: 30px;
}

body {
    min-width: 300px;
    margin: 0;
    padding: 0;
    font-family: roboto, Helvetica, Arial, sans-serif;
    color: #666;
    background: #f2f2f2; 
    font-size: 1em;
    line-height: 1.5em;
    padding-top: 100px; /* Relleno superior igual a la altura de la cabecera*/
}

iframe{
    width: 560px;
    height: 315px;
    padding: 2% 0 3% 15%;
}

h1 {
    font-size: 2.3em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}
 
p {
    margin: 0 0 1.5em 0;
}
 
img {
    max-width: 100%;
    height: auto;
}

em {
    font-weight: bold;
}

#main-header {
    background: #d83b3b;
    color: white;
    height: 100px;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */    
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
    z-index: 5;
}

#main-header a {
    color: white;
}
 
/*
 * Logo
 */

.icono-cabecera{
    width: 50px;
    height: 50px;
    margin: 25px 0 0 5px;
}

.avatar-cabecera{
    border-radius: 50%;
    border: 3px solid white;
}

.icono-cabecera:hover{
    width: 60px;
    height: 60px;
}

#foto-cabecera{
    float: left;
    width: 80px;
    border-radius: 100%;
    padding: 12px 5px 5px 5px;
}

#logo-header {
    float: left;
    padding: 28px 5px 0 0;
    text-decoration: none;
}
	
#logo-header .site-name {
    display: block;
    font-family: sillonball-tittle, roboto, cursive;
    padding-bottom: 6px;
    padding-left: 0;
    font-size: 4em;
    padding-left: 5%;
}
	
#logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-family: roboto, cursive;
    font-size: 1em;
    color: white;
    font-style: italic;
    padding-left: 5%;
    text-align: right;
}
	
/*
 * Navegación
 */

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
    display: flex;
}
	
nav ul li {
    display: inline-block;
    line-height: 100px;
}
	
nav ul li a {	
    display: block;     
    padding: 0 20px;
    text-decoration: none;
}
			
nav ul li a:hover {
    font-size: 22px;
    /*background: #585858;*/
}

/* contenido */

#img-noticia {
    width: 80%; 
    padding-left: 10%;
}

#main-content {
    background: white;
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
 
#main-content header,
#main-content .content {
    padding: 20px;
    margin: auto;
}

.caratula{
   width: 32%;
   height: 90%;
}

.grid-interesa{
    width: 100%;
    height: auto;
    display: inline;
}

#text-acercade{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 4%; 
}

    


/* pie */

#main-footer {
    background: #d83b3b;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}

#main-footer div{
    background: #d83b3b;
    color: white;
    text-align: center;
    padding-top: 0;
    margin-bottom: -25px;
}

#main-footer p {
    margin: 0;
}
	
#main-footer a {
    color: white;
    text-decoration: none;
}

.grid-footer{
    width: 100%;
    height: auto;
    display: inline;
    padding-left: 5%;
    padding-right: 5%;
}
#form-contacto{
   padding-left: 5%;
    padding-bottom: 5%;
}

.form-button{
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin: 5px;
    font-size: 15px;
    background: #d83b3b;
    cursor: pointer;
    border-color: #d83b3b;
    border-width: 1px;
    border-style: solid;
}

.form-p{
    margin-top: 14px;
    margin-bottom: 0;
}

#terminos{
    margin-top: 5px;
    font-style: italic;
    font-size: 13px;
}

.form-input{
    width: 50%;
}

#miembros{
    margin-left: 5%;
}


/***********************************************************************************/
#check-menu{
    display: none;
}

#boton-menu-responsive{
    display: none;
}

#main-content {
    margin-top: 60px;
}

@media (max-width: 350px){
    #foto-cabecera{
        margin-left: 36%;
    }
    #logo-header .site-name{
        display: none;
    }
    #logo-header .site-desc{
        display: none;
    }
}

@media (max-width: 630px){
    .botonAddNoticiaEditor{
        padding-top: 50px;
    }
}

@media (max-width: 800px){
    
   .grid-footer{
        padding-left: 1%;
        padding-right: 1%;
    }
    
   #boton-menu-responsive{
        cursor: pointer;
        background: #d83b3b;
        color: white;
        text-align: center;
        position: fixed;
        width: 100%;
        padding: 10px;
        margin-left: -10px;
        border-bottom: 1px solid white;
        margin-top: 0;
        display: block;
    }

    nav ul li {
        text-align: center;
        padding: 10px 10px 0 10px;
        line-height: 40px;
    }

    nav ul li a {  
        display: inline-block;     
    }

    .menu {
        position: relative;
        width: 100%;
        margin-top: -140%;
        background: #d83b3b;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li {
        height: 50px;
        width: 100%;
    }

    .menu li a{
        text-align: center;
    }
    
    .icono-cabecera{
        height: 40px;
        width: 40px;
        padding: 0;
        margin: 0px;
    }
    
    .icono-cabecera:hover{
        height: 45px;
        width: 45px;
    }

    #check-menu:checked ~ .menu{
        margin-top: 50px;
    }

     iframe{
        display: none;
    }
}

.error{
    padding: 15px;
    background-color: #d83b3b;
    margin: 25px auto;
    color: #670000;
    border-radius: 10px;
}


.exito{
    padding: 15px;
    background-color: #5cb85c;
    margin: 25px auto;
    color: #670000;
    border-radius: 10px;
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    margin-bottom: -40px;
    color: #fff;
}