form #image {
    max-width: 150px;
    margin-bottom: 2%;
    margin-left: -15%;
    align-content: center;
    background: #d83b3b;
    border-style: solid;
    border-radius: 100%;
    border-color: #d83b3b;  
    
}

#image {
    max-width: 150px;
    margin-bottom: 2%;
    margin-left: 5%;
    align-content: center;
    background: #d83b3b;
    border-style: solid;
    border-radius: 100%;
    border-color: #d83b3b;  
}

img{
    max-width: 100%;
}

.info{
  padding-left: 37%;  
}

.info-boton{
    padding-top: 3%;
    padding-left: 43%;
}

.edita-boton{
    padding-top: 3%;
    padding-left: 38%;
}

b {
    color: #d83b3b;
}

p {
    margin-top: 15px;
    margin-bottom: 0;
}

#editarAvatar{
    margin-left: -37%;
    text-align: center;
}

@media (max-width: 800px){
    .info{
        padding-left: 35%;
    }
    
    .info-boton{
        padding-left: 42%;
    }
    
    .edita-boton{
        padding-left: 36%;
    }
    
    .form-input {
        width: 80%;
    }
}

@media (max-width: 350px){
    .info{
        padding-left: 15%;
    }
    
    .info-boton{
        padding-top: 11%;
        padding-left: 25%;
    }
    
    .edita-boton{
        padding-left: 14%;
    }
}